<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sam.vo2max">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="   Pyramid Test - V02max"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".TheMeasurementActivity"
         android:label="  Home"/>
        <activity android:name=".DataListActivity"/>
        <activity android:name=".SearchContactActivity" android:windowSoftInputMode="stateHidden">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        </activity>
    </application>

</manifest>